.btn-blue {
    background-color: blue;
    color:aliceblue;
}

.btn-red {
    background-color: red;
    color: antiquewhite;
}

.btn-aqua {
    background-color: aqua;
    color: azure;
}

.btn-green {
    background-color: green;
    color: antiquewhite;
}
